  <%= link_to repair_booking_path(booking.repair, booking), class: "no-text-deco" do %>
  <div class="border bg-secondary shadow">
    <%#  %>
    <div class="d-flex flex-row bg-primary p-2" >
      <%# booking.repair.image %>
      <img src="https://picsum.photos/200/200" alt="" class="avatar ml-3 mr-3">
      <div class="d-flex align-items-center">
        <strong>
          <%= booking.repair.repair_type %>
        </strong>
      </div>
    </div>
    <%#mechanic name and picture%>
    <div class="d-flex flex-row-reverse pt-2 pb-2">
      <img src="https://picsum.photos/200/200" alt="" class="avatar ml-3 mr-3">
      <div class="d-flex align-items-center">
        <%= booking.mechanic.name %>
      </div>
    </div>
    <%# status and price %>
    <div class="d-flex justify-content-between pr-3 pl-3 pt-2 pb-2">
      <div class="bg-primary p-1"><%= booking.status %></div>
      <div class="d-flex align-items-center">
        <%= booking.repair.price %>€
      </div>
    </div>
  </div>
<% end %>
<% if booking.status == "pending" %>
  <div>
    <%= link_to repair_booking_path(booking.repair, booking, status: "accepted"), method: :patch, class: "no-text-deco" do %>
      <h6>accept</h6>
    <% end %>
    <%= link_to repair_booking_path(booking.repair, booking, status: "declined"), method: :patch, class: "no-text-deco" do %>
      <h6>accept</h6>
    <% end %>
  </div>
<% elsif booking.status == "accepted" %>
  <%= link_to repair_booking_path(booking.repair, booking, status: "completed"), method: :patch, class: "no-text-deco" do %>
    <h6>mark as completed</h6>
  <% end %>
<% end %>
