<h4 class="border border-primary p-3 mt-3">active repair</h4>
<%= render 'components/booking_card_md', booking: @active_booking %>
<div class="" id="accordion">
  <div class="card mt-3 rounded-0">
    <div class="card-header p-0" id="headingOne">
      <h4 class="mb-0">
        <button class="p-3 border border-primary collapsed w-100 no-text-deco" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          queue  <i class="fas fa-angle-down"></i>
        </button>
      </h4>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <% @queued_bookings.each do |booking| %>
          <%= render 'components/booking_card_md', booking: booking %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card mt-3 rounded-0">
    <div class="card-header p-0" id="headingTwo">
      <h4 class="mb-0">
        <button class="p-3 border border-primary collapsed w-100 no-text-deco" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          pending requests  <i class="fas fa-angle-down"></i>
        </button>
      </h4>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <% @pending_bookings.each do |booking| %>
          <%= render 'components/booking_card_md', booking: booking %>
        <% end %>      </div>
    </div>
  </div>
  <div class="card mt-3 mb-3 rounded-0">
    <div class="card-header p-0" id="headingThree">
      <h4 class="mb-0">
        <button class="p-3 border border-primary collapsed w-100 no-text-deco" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          total earnings  <i class="fas fa-angle-down"></i>
        </button>
      </h4>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <% @history_bookings.each do |booking| %>
          <%= render 'components/booking_card_total_earnings', booking: booking %>
        <% end %>
        <div class="d-flex justify-content-between">
          <h6>total:</h6>
          <div>
            <%= @total_earnings %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
