<div class="mb-2 no-text-deco" >
  <%= link_to repair_booking_path(booking.repair, booking), class: "no-text-deco" do %>
    <div class="border rounded overflow-hidden bg-secondary shadow mb-2">
      <%#  %>
      <div class="d-flex flex-row bg-primary" >
        <%# booking.repair.image %>
        <img src=<%= booking.repair.image_url %> alt="" class="repair-pic p-0 ml-3 mr-3 mt-2 mb-2">
        <div class="d-flex align-items-center justify-content-between flex-grow-1 mr-3">
          <strong>
            <%= booking.repair.repair_type %>
          </strong>
          <div>
            <%= booking.repair.price %>€
          </div>
        </div>
      </div>
      <%#MAP%>
      <% location_markers(booking) %>
      <div id="map-<%= booking.id %>" class="map"
     style="width: 100%; height: 300px;"
     data-booking-id="<%= booking.id %>"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  <% end %>
  <div class="mr-3 ml-3">
    <% if booking.status == "pending" %>
      <div class="d-flex justify-content-between">
        <%= link_to repair_booking_path(booking.repair, booking, status: "accepted"), method: :patch, class: "no-text-deco" do %>
          <h6 class="text-success">accept</h6>
        <% end %>
        <%= link_to repair_booking_path(booking.repair, booking, status: "declined"), method: :patch, class: "no-text-deco" do %>
          <h6 class="text-warning">decline</h6>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
