<div class="flat-form">
  <div class="mt-3">
    <%= simple_form_for [@repair, @booking], html: {class: 'form'} do |f| %>
      <div class="form-group">
        <%= f.label :title, 'Details of your issue' %>
        <div id="photos" class="mb-3">
          <%= f.input :photos, as: :file, input_html: { multiple: true, class: 'd-none hidden', id: 'photos-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload photos'  %>
          <%= image_tag "", width: 300, class: "hidden", id: "photos-preview" %>
        </div>
      </div>
        <div class="mt-3">
          <%= f.submit class: 'btn btn-booking' %>
        </div>
    <% end %>
  </div>
</div>
