<div class="container">

  <div class="row">
    <div class="col-12 mt-2">
      <div class="d-flex justify-content-between m-3">
       <p>Current location</p>
        <%= link_to ('<i class="fas fa-long-arrow-alt-left"></i>').html_safe, repairs_path %>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-between m-3">
    <%= render "get_location", booking: @booking %>
  </div>

  <div id="map"
    style="width: 100%; height: 300px;"
    data-marker="<%= @customer_marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>




  
  <div class="card-booking">
    <%= render "form", booking: @booking %>
  </div>

</div>
