<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container">

  <%= render 'show_customer' %>

  <div class="badge-status">
    <p> <%= @booking.status %> </p>
  </div>

</div>


<p> <%= @booking.location %> </p>

  <p> Customer: <%= @booking.user.name %> </p>

  <p> Mechanic: <%= @booking.mechanic.name %> </p>


