<div class="d-flex justify-content-left">
  <!-- Repairs Cards -->
  <div class="repairs_index">
    <% @repairs.each do |repair| %>
        <%= link_to repairs_path(repair), class:'text-decoration-none' do %>
            <div class="m-4">
              <div class="card-repair">
                <% if repair.image_url.present? %>
                  <img src="<%= repair.image_url %>" >
                  <div class="card-repair-infos mt-1 p-3 d-flex flex-column card-link">
                    <h2 class="mt-1"><%= repair.repair_type %></h2>
                    <p>Duration: <%= repair.duration %> Minute</p>
                    <p>Price: € <%= repair.price %></p>
                    <p> Level: <%= repair.level %></p>
                  </div>
                <% end %>
              </div>
            </div>
        <% end %>
      <% end %>
  </div>
</div>
