<div class="card-main">
  <!-- Repairs Cards -->
  <h1>
    <p>What’s the problem?</p>
  </h1>
  <div class="d-flex flex-wrap">
    <% @repairs.each do |repair| %>
        <%= link_to repair_path(repair), class:'text-decoration-none' do %>
          <div class="card-repair m-4">
            <% if repair.image_url.present? %>
              <img src="<%= repair.image_url %>" >
              <div class="card-repair-infos mt-1 p-3 d-flex flex-column card-link">
                <h2 class="mt-1"><%= repair.repair_type %></h2>
                <p><i class="far fa-clock mr-2"></i> <%= repair.duration %> Minute</p>
                <div class="d-flex justify-content-between">
                  <div class="d-flex">
                    <% repair.level.times do %>
                      <p> <i class="fas fa-cog mr-1 text-muted"></i></p>
                    <% end %>
                  </div>
                  <p>€ <%= repair.price %>,00</p>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>